<div class="offcanvas offcanvas-end wCanva" tabindex="-1" id="{{zona.id}}" aria-labelledby="offcanvasRightLabel" >
    <div class="offcanvas-header my-3">
        <h3 class="text-uppercase" id="offcanvasRightLabel">{{zona.name}}</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <img class="img-fluid map" src="./assets/{{zona.map}}" alt="{{zona.map}}">
        <h5 class="text-center my-4">SELECCIONA UNA ATRACCIÓN</h5>
        <div class="input-group my-4">
            <input type="search" class="form-control rounded" placeholder="Introduce una atracción" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn buttons text-light">Buscar</button>
        </div>
        <!--Atracciones-->
        <div>
            <app-atraccion class = "row align-items-center mx-2" [zonaSeleccionada]="zona.name"></app-atraccion>
        </div>
    </div>
</div>