<div class = "container-fluid d-flex justify-content-center align-items-center vh-100">
    <!--
    <div>
        <h1 class="text-center">No existe ninguna reserva.</h1>
        <div class="row mx-4 my-3">
        <button class="btn btn-dark btn-lg">Volver a Inicio</button>
        </div>
    </div>-->

    <div class="card py-3" style="width: 18rem;">
        <img src="./assets/qr-ejemplo.png" class="card-img-top  w-10 h-auto" alt="qr-ejemplo">
        <div class="card-body">
          <h5 class="card-title text-center">Furius Baco</h5>
          <p class="card-text text-center">14:30</p>
          <div class="row mx-3">
            <button href="#" class="btn btn-danger">Cancelar</button>
        </div>
      </div>
</div>
