<ng-container *ngFor="let atraccion of atracciones" >
    <div class="col-xxl-4 col-lg-6 col-md-12" *ngIf="atraccion.zona===zonaSeleccionada || zonaSeleccionada==='Todas las atracciones'"><!--Cambiar If por la zona (hacer input)-->
        <div class="card w-100 my-2" style="width: 18rem;">
            <img src="./assets/{{atraccion.imagenUrl}}" class="card-img-top" alt="{{atraccion.imagenUrl}}">
            <div class="card-body">
                <h5 class="card-title">{{atraccion.nombre}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{atraccion.zona}}</li>
                    <li class="list-group-item">{{atraccion.descripcion}}</li>
                    <li class="list-group-item">Altura mínima: {{atraccion.altura}} m</li>
                    <li class="list-group-item">Tiempo de espera: {{atraccion.tiempo}} min</li>
                </ul>
                <div class="mt-3">
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
